﻿@{
    ViewBag.Title = "Price Watcher";
}
<div class="row">
    <h3>Stock Price Picker:</h3>
    <table style="width:100%">
        <tr>
            <td style="width:15%">
                &#x27A4; Pick a stock code:
            </td>
            <td style="width:15%">
                @Html.DropDownList("dlStockCodes",
                                    new SelectList(Models.StockPricingFactory.ListOfStockCodes),
                                    "Stock Code",
                                    new { style = "width: 120px;", @class = "form-control" })
            </td>
            <td style="width:40%">
                &#x27A4; Current Price ($.c):&nbsp; <input id="tbPrice" type="text" value="@String.Format("{0:n4}", Models.StockPricingFactory.StockPrice)" disabled />
            </td>
            <td>
                &#x27A4; Latest price:&nbsp;<input id="btnRefresh" type="button" value="Refresh Now" />
            </td>
        </tr>
    </table>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">

$('#btnRefresh').click(function(){

    $.ajax({

        url: '@Url.Action("action", "controller")',
        type:"GET",
        dataType: "html",
        //data: { id: 1 },//this is as per your requirement
        success: function (data) {
        $('#div_to_load_PartialView').html(data);
        },
        });
        });

</script>
